@page "/AstronomicalConstants"

<TopBar Title="Astronomical and Physical Constants" />

@*<a href="#" style="color: red;">Download or print this list</a>*@

<div class="row">
    <div class="col-9">
        <div class="row">
            <div class="col-12">
                <h2><i class="fas fa-fw fa-meteor"></i> General</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Constant</th>
                            <th scope="col">Value</th>
                            <th scope="col">Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gaussian gravitational constant <i>(abandoned)</i></td>
                            <td>0.01720209895</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Astronomical unit (au)</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Speed of light in vacuum</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dynamical form-factor J2 for the Earth</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Product of gravitational constant and mass of the Earth</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Earth-Moon mass ratio</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Moon’s sidereal mean motion</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Obliquity of the ecliptic (2000)</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Constant of nutation in obliquity (2000)</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>Solar parallax</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Light-time for unit distance</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Constant of aberration</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mean distance Earth to Moon </td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Constant of sine Moon’s parallax</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Lunar inequality</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Parallactic inequality</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-5"></div>


        <div class="row">
            <div class="col-12">
                <h2><i class="fas fa-fw fa-globe"></i> The Earth</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Constant</th>
                            <th scope="col">Value</th>
                            <th scope="col">Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Equatorial Radius</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Polar Radius</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Flattening</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Acceleration due to gravity</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Length of seconds pendulum</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Constant of gravitation</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Centennial general precession</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-5"></div>

        <div class="row">
            <div class="col-12">
                <h2><i class="fas fa-fw fa-atom"></i>The Galaxy</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Constant</th>
                            <th scope="col">Value</th>
                            <th scope="col">Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pole of galactic plane (1950) </td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Point of zero longitude (1950) </td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Galactic Longitude of North Celestial Pole</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Mass</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Average density </td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Diameter</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Thickness</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Distance of Sun from centre</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Distance of Sun above galactic plane</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Solar apex (1950) (from bright stars)</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Solar motion (from bright stars)</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Period of revolution of Sun about centre</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Light year (ly)</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Parsed (pc)</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-5"></div>

        <div class="row">
            <div class="col-12">
                <h2><i class="fas fa-fw fa-sun"></i>Solar Radiation</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Constant</th>
                            <th scope="col">Value</th>
                            <th scope="col">Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Solar Constant</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Radiation Emitted</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Radiation emittance on surface</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Total internal radiant energy</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Radiation emitted per unit mass</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Visual absolute magnitude (Mv)</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Colour indices (B-V, U-B)</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Spectral type</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Effective temperature</td>
                            <td>mdo</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-3">
        <h3 class="float-right">Resources</h3>
    </div>
</div>

