 <!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-rocket"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Calc<sup>X</sup></div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
    </a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Calculators
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSatellite" aria-expanded="true" aria-controls="collapseSatellite">
        <i class="fas fa-fw fa-satellite"></i>
        <span>Satellite</span>
    </a>
    <div id="collapseSatellite" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <NavLink href="SatelliteOrbit">
                <span class="collapse-item">Satellite Orbit</span>
            </NavLink>
        </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePlanetary" aria-expanded="true" aria-controls="collapsePlanetary">
        <i class="fas fa-fw fa-globe-europe"></i>
        <span>Planetary</span>
    </a>
    <div id="collapsePlanetary" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <NavLink href="SatelliteOrbit">
                <span class="collapse-item">Item 1</span>
            </NavLink>
            <NavLink href="SatelliteOrbit">
                <span class="collapse-item">Item 2</span>
            </NavLink>
            <NavLink href="SatelliteOrbit">
                <span class="collapse-item">Item 3</span>
            </NavLink>
        </div>
    </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Misc
</div>

<li class="nav-item">
    <a class="nav-link" href="tables.html">
        <i class="fas fa-fw fa-code"></i>
        <span>About Calc<sup>X</sup></span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="tables.html">
        <i class="fab fa-fw fa-github"></i>
        <span>GitHub Repository</span>
    </a>
</li>



